body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    }
    body >header{
        background-color: white;
    }
    header{
        text-align: center;
    }
    h1 ,h2{
        color:#0040df
    }
    p {
        margin-left: 1.5rem;
    }
    nav{
        background-color:black;
        margin: 4px;
        text-align: center;
    }
    nav ul li{
        list-style-type: none ;
        color: whitesmoke;
        display: inline-block;
        padding: 14px 12px;
        margin-left: 1rem;
        margin-right: 1rem;

    
    }
    nav ul li a {
        text-decoration: none;
        color: white;
        
        transition: color 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s;
    }
    nav ul li:hover {
        color: #7d8298; 
        background-color: rgba(255, 255, 255, 0.2); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
    
    
    h2{
        margin-left: 1.5rem;
        color:#1a41d6
        
    }
    .card img{
        max-width: 300px;
        margin-left: 560px;
        text-align: center;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
    }
    section{
        background-color: white ;
        padding: 4px;
        border-radius: 4px;
        margin: 10px;
    }
    ul li{
        padding: 0;
    }
    .one img{
        margin-left: 500px;
        border-radius: 6px;


    }
    .oneN{
        display: flex;
        justify-content: space-between;
    }
    #curriculum ul{
        display: flex;
        padding: 6px;
        gap: 10px;
    }
    #curriculum li{
        list-style: none;
        background-color:#f3f3f3;
        padding: 8px;
        border-radius: 10px;
    }